:root {
  --main-white-color: #ffffff;
  --sec-white-color: #F5F4FA;
  --hero-footer-color: #2F303A;
  --p-text-color: #757575;
  --link-title-black: #212121;
  --logo-black-color: #000000;
  --accent-color: #2196F3;
  --accent-sec-color: #188ce8;
  --host-white: #ffffff99;
}


/* ==========ЗАГАЛЬНІ СТИЛІ============= */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-white-color);
  color: var(--p-text-color);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.adress {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  color: var(--link-title-black);
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}


.logo-link span {
  color: var(--accent-color);
}
.logo-link {
  text-decoration: none;
}

.title {
  color: var(--link-title-black);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.features .container,
.works .container,
.team .container,
.portfolio .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ==========ЗАГАЛЬНІ СТИЛІ END============= */


/* =================HEADER===================*/
.header {
  background-color: var(--main-white-color);
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
} 

.nav-bar {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.logo-link {
  margin-right: 93px;
  
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-black-color);
}

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contacts-list .item + .item {
  margin-left: 50px;
}

.contacts-list .link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-text-color);
  fill: var(--p-text-color);
}

.contacts-link-icon {
  margin-right: 10px;
  fill: inherit;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* =================HEADER END===================*/

/* ==================HERO======================= */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 452px;
  padding-right: 452px;
  text-align: center;
  background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/backgrounds/new_foto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
  /* background-color: var(--hero-footer-color); */
}

.hero-content {
  align-content: center;
}

.hero .title {
  margin-bottom: 30px;
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: .06em;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border: 1px solid transparent;
  border-style: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-white-color);
  cursor: pointer;
}

.hero-btn:hover, 
.hero-btn:focus {
  background-color: var(--accent-sec-color);
}
/* ==================HERO END======================= */


/* =================FEATURES=================== */
.features-list {
  display: flex;
}

.features-list-item {
  
}

.features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* =================FEATURES END=================== */


/* =================WORKS====================== */
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.works-list-item {
  margin-left: 30px;
  margin-top: 30px;
}
/* =================WORKS END====================== */




/* Стилі OUR TEAM */
.team {
  background-color: var(--sec-white-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-card {
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-white-color);
}

.team-card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-card .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.team-card .position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--p-text-color);
}


/* Стилі FOOTER */
.footer {
  background-color: var(--hero-footer-color);
}

.footer .logo-link {
  color: var(--main-white-color);
}

.map-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--main-white-color)
}

.mail-link, .tel-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--host-white);
}

/* =====Стилі PORTFOLIO===== */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item + .filter-list-item {
  margin-left: 8px;
}

.filter-btn {
  display: block;
  min-width: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--link-title-black);
  background-color: var(--sec-white-color);
  border-style: none;
  cursor: pointer;
}


.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
              0px 1px 2px rgba(0, 0, 0, 0.08), 
              0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #EEEEEE;
}

.card-description {
  padding: 20px 24px;
}

.projects-list-item .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--link-title-black);
}

.project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--p-text-color);
}