.features-list__item {
  & .subtitle {
    text-transform: uppercase;
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feature-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;

  &__icon {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;

    &__item {
      width: calc((100% - 60px) / 2);
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    
    &__item {
      width: calc((100% - 100px) / 4);
      &:not(:nth-last-child(1)) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }

  .feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
  }
}


// .features-list {
//   display: flex;
  
//   &__item {
//     &:not(:nth-last-child(1)) {
//       margin-right: 30px;
//     }
//   }
// }

// .feature-image {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 270px;
//   height: 120px;
//   margin-bottom: 30px;
//   border-radius: 4px;
//   background-color: #F5F4FA;

//   &__icon {
//     width: 70px;
//     height: 70px;
//   }
// }