.features-list {
  display: flex;
  
  &__item {
    &:not(:nth-last-child(1)) {
      margin-right: 30px;
    }
  }
}

.feature-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;

  &__icon {
    width: 70px;
    height: 70px;
  }
}