.features-list {
  display: flex;
}

.features-list-item{
  &:not(:nth-last-child(1)) {
    margin-right: 30px;
  }
}


.features-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}