.footer {
  background-color: var(--hero-footer-color);
  
  .adress-part,
  .social-part {
    margin-right: 70px;
  }
}

.adress-list__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}



.adress-list .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--host-white);

  transition: color 250ms var(--timing-function-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress-list .map-link {
  color: var(--main-white-color)
}



.footer-call {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.footer .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer .social-link {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--main-white-color);

  &:hover,
  &:focus {
    outline-style: none;
    background-color: var(--accent-color);
  }
}

.subscribe-form {
  display: flex;
}

.subscr-form-input {
  display: block;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  background-color: inherit;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: var(--main-white-color);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
  }
  
  &:focus {
    outline-style: none;
    border-color: var(--accent-color);
  }
}

.submit-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}