.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--main-white-color);
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 0;
}



.site-nav {
  display: flex;

  .item+.item {
    margin-left: 50px;
  }
  
  .link {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  
    transition: color 250ms var(--timing-function-cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
      }
  }
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;

  .item+.item {
    margin-left: 50px;
  }
  
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--p-text-color);
    fill: var(--p-text-color);
  
    transition: color 250ms var(--timing-function-cubic);

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
}

.contacts-link-icon {
  margin-right: 10px;
  fill: inherit;
}