.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item {
  &+& {
    margin-left: 8px;
  }
}


.filter-btn {
  display: block;
  min-width: 38px;
  padding: 5.5px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--link-title-black);
  background-color: var(--sec-white-color);
  cursor: pointer;

  transition: color 250ms var(--timing-function-cubic),
    background-color 250ms var(--timing-function-cubic),
    box-shadow 250ms var(--timing-function-cubic);

  &:hover,
  &:focus,
  &.active {
    background-color: var(--accent-color);
    color: var(--main-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  &__item {
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #EEEEEE;
    
    transition: box-shadow 250ms var(--timing-function-cubic);
    
    &:hover {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

.project-thumb {
  position: relative;
  overflow: hidden;

  &__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
  
      width: 100%;
      height: 100%;
      padding: 63px 24px;
  
      color: #FFFFFF;
      background: rgba(33, 150, 243, 0.9);
  
      transform: translateY(101%);
      transition: transform 250ms var(--timing-function-cubic);
  
      .project-link:hover &,
      .project-link:focus & {
        transform: translateY(0);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
          0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
      }
    }
}

.project-card {
  padding: 20px 24px;

  &__name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--link-title-black);
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
  }
}


.hidden-description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}