.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  &__item {
    position: relative;
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.work-description {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 27px 0;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
  background: rgba(47, 48, 58, 0.8);
}