.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.hero-submit-btn {
    min-width: 200px;
    margin: 0 auto;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: .06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-style: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--main-white-color);
  
    transition: background-color 250ms var(--timing-function-cubic);

    &:hover,
    &:focus {
      outline-style: none;
      background-color: var(--accent-sec-color);
    }
  }

  &.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  
    width: 30px;
    height: 30px;
    padding: 0;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  
    transition: fill 250ms var(--timing-function-cubic);
  }
}

.close-icon {
  .close-btn:hover & {
    fill: var(--accent-color);
  }
}