.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;

  text-decoration: none;
  color: var(--logo-black-color);

  & .accent {
    color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.153;
  }
  }

  .footer & {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--main-white-color);
  }
}