.logo-link {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
  color: var(--logo-black-color);

  & span {
    color: var(--accent-color);
  }

  .footer & {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--main-white-color);
  }
}