.mobile-menu-btn {
  display: inline-flex;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }

  .cross-icon {
    display: none;
  }

  &.is-open .cross-icon{
    display: block;
  }

  &.is-open .burger-icon {
    display: none;
  }
}

.mobile-menu-icon {
  width: 40px;
  height: 40px;
  padding: 0;

  .mobile-menu-btn:hover &,
  .mobile-menu-btn:focus & {
    fill: var(--accent-color);
  }
}

.mobile-menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  left: 0;
  transform: translateY(-100%);
  background-color: inherit;
  padding: 40px 48px;

  transition: transform 250ms ease;
}


.mobile-menu.is-open {
  transform: translateY(0);
  transition: transform 250ms ease;
}

.mob-nav-list {
  margin-bottom: 125px;
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-contacts-list {
  margin-bottom: 64px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    .phone-number {
      font-weight: 500;
      font-size: 30px;
      line-height: 1.171;
      letter-spacing: 0.02em;
    }
    .mail {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.171;
      letter-spacing: 0.02em;
      color: var(--p-text-color);
    }
  }
}


.social-netlinks-list {
  display: flex;
  justify-content: left;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.222;
  letter-spacing: 0.02em;
}

.social-netlinks__item {
  padding-left: 5px;
  padding-right: 5px;
  & .link {
    color: var(--accent-color);
  }
  &:first-child {
    padding-left: 0;
  }
  &:not(:last-child) {
    border-right: 1px solid #21212133;
  }

}



@media screen and (min-width: 480px) {
  .mob-contacts-list__item {
    .phone-number {
      font-size: 34px;
    }
  }

  .social-netlinks-list {
    font-size: 18px;
  }

  .social-netlinks__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}