.modal-descr {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;


  color: #212121;
}

.modal-form-label {

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}

.modal-form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;

  font-size: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--timing-function-cubic);

  &:focus,
  &:focus+.form-input-icon {
    outline: none;
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}



.form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition: fill 250ms var(--timing-function-cubic);
}

.comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
  }
}



.modal-form-check-description {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  font-size: 10px;
  line-height: 2;

  &::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid var(--link-title-black);
    border-radius: 2px;
    
    transition: all 250ms var(--timing-function-cubic);
  }

  .policy {
    display: inline-block;
    margin-left: 5px;
  }
}

.modal-form-term:checked+.modal-form-check-description::before {
  background-image: url(../images/modalicons/icon-check.svg);
  background-origin: border-box;
  border-style: inherit;
}

.modal-form-button {
  display: block;
  min-width: 200px;
  padding: 10px 0px;
  margin: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  outline: none;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms var(--timing-function-cubic);

  &:focus,
  &:hover {
    background-color: var(--accent-sec-color);
  }
}

@media screen and (min-width: 480px) {
  .modal-form-check-description {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .modal-form-check-description {
    font-size: 14px;
  }
}