.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 480px) {
    // width: 480px;
  }

  @media screen and (min-width: 768px) {
    // width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
  }
}

// .works {
//   display: none;
//   @media screen and (min-width: 1200px) {
//     display: block;
//   }
// }