.hero-title {
  margin-bottom: 30px;
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
}

.subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
  .section-title {
    font-size: 36px;
    line-height: 1.166;
  }
}



// .section-title {
//   margin-bottom: 50px;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 42px;
//   text-align: center;
//   letter-spacing: 0.03em;
// }

// .subtitle {
//   text-align: center;
//   margin-bottom: 10px;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   @media screen and (min-width: 768px) {
//     text-align: start;
//   }
// }
