* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-white-color);
  color: var(--p-text-color);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  background-color: var(--img-bg-color);
  object-fit: cover;
}

.list {
  list-style: none;
}

.adress {
  font-style: normal;
}

.link {
  color: var(--link-title-black);
  text-decoration: none;

  transition: color 250ms var(--timing-function-cubic);

  &:hover,
  &:focus {
    outline: none;
    color: var(--accent-color);
  }

  &.current {
    position: relative;
    color: var(--accent-color);

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
    
      content: '';
      width: 100%;
      height: 4px;
      background: var(--accent-color);
      border-radius: 2px;
    }
  }
}

.title {
  color: var(--link-title-black);
}