.container {
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid teal;
  
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  
  @media screen and (min-width: 768px) {
    width: 738px;
  }
  
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
  
  .header & {
    display: flex;
    justify-content: space-between;
  } 
}

  // .works &,
  // .team &,
  // .portfolio &,
  // .clients & {
  //   padding-top: 94px;
  //   padding-bottom: 94px;
  // }

  // .features & {
  //   padding-top: 94px;
  //   padding-bottom: 0;
  // }

  // .footer & {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: first baseline;
  //   padding-top: 60px;
  //   padding-bottom: 60px;
  // }




