:root {
  --main-white-color: #ffffff;
  --sec-white-color: #F5F4FA;
  --hero-footer-color: #2F303A;
  --p-text-color: #757575;
  --link-title-black: #212121;
  --logo-black-color: #000000;
  --accent-color: #2196F3;
  --accent-sec-color: #188ce8;
  --host-white: #ffffff99;
  --img-bg-color: #2F303A;
  --icon-fill-color: #afb1b8;
  --timing-function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}